.player-1{
    background: url('/assets/img/player-1.png') no-repeat;
    display: block;
    height: 25px;
}
.player-2{
    background: url('/assets/img/player-2.png') no-repeat;
    display: block;
    height: 25px;
}
